name: Build

on:
  push:
    branches: [main]
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - uses: DeterminateSystems/magic-nix-cache-action@v8
      
      - name: Build game
        run: nix build
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: game-build
          path: result/game.zip
